input[type=text]{
	width: 45%;
	padding: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 54px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 

 input[type=password]{
 	width: 45%;
	padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

.error90{
	width: 45%;
	padding: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

 select{
 	width: 45%;
	padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;ox;
 }

input[type=submit]{
	width: 18%;
	background-color: rgb(192,192,192);
    color: black;
    padding: 14px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 120px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
    color: white;
}

div {
    border-radius: 15px;
    background-color: rgb(0,40,80);
    padding: 20px;
    margin: 110px 350px;
     box-shadow: 0px 0px 50px cyan;
}

b{
	font-size: 15px;
	font-family: verdana;
	color: rgb(240,240,240);
	margin-left: 20px;

}

h3{
	 margin: 10px;
	font-size: 40px;
	color: white;

}

body{
	background-image: url('home.jpg');
}